<!DOCTYPE html>
<html ng-app='myApp'>
  <head>
    <meta charset="utf-8">
    <title>Superhero Database</title>
    <script type="text/javascript" src="vendors/angular.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="scripts/clientApp.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="vendors/bootstrap.min.css"></link>
  </head>
  <body>
    <div ng-controller='superheroController'>
    <h1>Superhero Database</h1>

    <p>Fill out the information below to enter a superhero into our database.</p>
    <input type="text" ng-model="fName" value="" placeholder="First Name">
    <input type="text" ng-model="lName" value="" placeholder="Last Name">
    <input type="text" ng-model="city" value="" placeholder="City"><br><br>
    <select data-ng-options="o.name for o in options" data-ng-model="selectedOption"></select>
    <button type="submit" ng-click="enterSuperhero()">Submit Hero</button>

    <h2>Stored Heroes</h2>
    <p>Below are our stored heroes:</p>
    <p ng-repeat= 'hero in heroes'><b><button ng-click='removeHero($index)'>Remove Hero</button>  {{hero.firstName}} {{hero.lastName}}:</b> City: {{hero.city}} — Superpower: {{hero.superPower}}</p>



  </div>
  </body>
</html>
